# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Variáveis sensíveis
terraform.tfvars
*.auto.tfvars

# OS
.DS_Store
Thumbs.db